<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thomas</title>
    <meta charset="utf-8">
	<meta http-equiv="cache-control" content="no-cache" />
    <link rel="stylesheet" href="css/angular-material.min.css">
	<link rel="stylesheet" href="css/timeline.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        #lockdiv {
            border-radius: 15px;
            border: 2px solid slategray;
        }
        #nav {
            padding: 0 !important;
        }
        .height100 {
            height: 100%;
        }
        .width75 {
            width: 75%;
        }
        .bck-locked {
            background-image: url(img/bck-locked.jpg);
            background-repeat: repeat;
            width:100%;
        }
        .bck-locked img {
            border-radius: 3px;
        }
        .btn-lang-lock {
            margin-top: 1em;
            width: 100%;
            cursor: pointer;
        }
        .default-cursor {
            cursor: default;
        }
        .section-separator {
            padding: 0;
        }
        .card-thomas {
            min-width: 450px;
            transition: all 1s;
        }
        .card-thomas:hover {
            border-radius: 20px 0 0 20px;
        }
        .container-section {
            padding-top: 1em;
            padding-bottom: 1em;
            display: block;
        }
        .icon-section {
            margin-left: 1em;
            font-size: 36;
            position: relative;
            top: 5px;
        }
        .title-section {
            margin-bottom: 1em;
            display: inline;
        }
        .btn-lang {
            margin-left: 1em;
            cursor: pointer;
        }
        .btn-lang>img {
            outline: none;
            border: 1px solid gray;
        }
        .video-card {
            border: 1px solid lightgray;
            background: slategray;
            padding: 0.5em;
            margin:1em;
        }
        .video-date {
            color:aliceblue;
            margin: 0;
            padding: 0;
        }
        .video-subtitle {
            margin:0;
            padding:0 0 1em 0;
            color:aliceblue;
        }
        .badge-photo {
           position:relative;
        }
        .badge-photo[data-badge]:after {
            content:attr(data-badge);
            position:absolute;
            top:-12px;
            right:-12px;
            font-size:14px;
            background:red;
            color:white;
            width:24px;
            height:24px;
            text-align:center;
            line-height:24px;
            border-radius:50%;
            box-shadow:0 0 1px #333;
        }
		.info {
			border: 1px solid lightgray;
		}
		.checklabel-translate {
			top: 12px;
    		position: relative;
		}
		.cursor-help {
			cursor: help;
		}
    </style>
</head>
<body ng-app="ThomasApp" layout="column" ng-cloak>
    <div ng-controller="AppCtrl" class="height100">
        <div ng-hide="isUnlockedValue" class="bck-locked height100" layout="column" layout-align="center center" layout-padding>
            <md-content id="lockdiv" md-theme='dark-yellow' layout-padding>
                <div layout="row" layout-align="center center">
                    <img src="img/lock-icon.png">
                </div>
                <div layout="column" layout-align="end center">
                    <form name="lockform" layout="column" layout-align="end center">
                        <md-input-container class="md-block">
                            <label translate="IPT_PWD">Mot de passe</label>
                            <input ng-model="lockinput" name="pwd" type="password" required>
                        </md-input-container>
                        <md-button class="md-raised md-primary" ng-click="validateLockInput()" ng-disabled="lockform.$invalid" translate="BTN_PWD" type="submit">Valider</md-button>
                    </form>
                    <div layout="row" layout-align="space-around center" class="btn-lang-lock">
                        <img src='img/fr.jpg' title="Français" ng-click="changeLanguage('fr')">
                        <img src='img/br.jpg' title="Português" ng-click="changeLanguage('br')">
                    </div>
                </div>
            </md-content>
        </div>
        <div ng-show="isUnlockedValue" layout="column" layout-fill>
            <md-toolbar class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="showMenu()">
                      <md-icon>menu</md-icon>
					  <md-tooltip>MENU</md-tooltip>
                </md-button>
                <h3 class="default-cursor" flex>Thomas</h3>
                <span class='btn-lang'>
                    <img src='img/fr.jpg' height="24" ng-click="changeLanguage('fr')">
                </span>
                <span class='btn-lang'>
                    <img src='img/br.jpg' height="24" ng-click="changeLanguage('br')">
                </span>
                <md-button class="md-icon-button" aria-label="log off" ng-click="validateLockInput(true)">
                      <md-icon>power_settings_new</md-icon>
                </md-button>
            </md-toolbar>
            <md-content flex>
				<div style="width:100%;" layout="row" layout-align="center center" layout-padding>
					<div style="width:50%; border:3px solid darkred; text-align:center;">
						<p style="font-weight:bold;">Une nouvelle version est en préparation pour le mois de février.</p>
					</div>
				</div>
                <span class="container-section default-cursor">
                    <span class="icon-section">&#128247;</span>
                    <h3 id="photos" class="title-section" translate="SC_ALBM">Albums photos</h3>
                </span>
                <div layout="column" layout-gt-lg="row" layout-align="center center">
                    <div layout="column" layout-gt-sm="row" layout-align="space-around center" style="width:100%">
                        <!-- FEVRIER -->
                        <md-card class="card-thomas badge-photo" md-theme='dark-grey' md-theme-watch data-badge="49">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline default-cursor" translate="FEV_LBL">Février 2017</span>
                                    <span class="md-subhead default-cursor" translate="FEV_MSG">La grande arrivée</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"> <img src='img/month1.jpg'> </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button translate="BT_ALBM" ng-click="goToMonth('022017')">Voir l'album</md-button>
                            </md-card-actions>
                        </md-card>
                        <!-- MARS -->
                        <md-card class="card-thomas badge-photo" md-theme='dark-purple' md-theme-watch data-badge="15">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline default-cursor" translate="MAR_LBL">Mars 2017</span>
                                    <span class="md-subhead default-cursor" translate="MAR_MSG">Premières sorties</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"> <img src='img/month2.jpg'> </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button translate="BT_ALBM" ng-click="goToMonth('032017')">Voir l'album</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div layout="column" layout-gt-sm="row" layout-align="space-around center" style="width:100%">
                        <!-- AVRIL -->
                        <md-card class="card-thomas badge-photo" md-theme='dark-blue' md-theme-watch data-badge="10">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline default-cursor" translate="AVR_LBL">Avril 2017</span>
                                    <span class="md-subhead default-cursor" translate="AVR_MSG">À Pompertuzat</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"> <img src='img/month3.jpg'> </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button translate="BT_ALBM" ng-click="goToMonth('042017')">Voir l'album</md-button>
                            </md-card-actions>
                        </md-card>
                        <!-- MAI -->
                        <md-card class="card-thomas badge-photo" md-theme='dark-orange' md-theme-watch data-badge="3">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline default-cursor" translate="MAI_LBL">Mai 2017</span>
                                    <span class="md-subhead default-cursor" translate="MAI_MSG">Marre du lait!</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"> <img src='img/month4.jpg'> </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button translate="BT_ALBM" ng-click="goToMonth('052017')">Voir l'album</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>
                <div layout="column" layout-gt-lg="row" layout-align="center center">
                    <div layout="column" layout-gt-sm="row" layout-align="space-around center" style="width:100%">
                        <!-- JUIN -->
                        <md-card class="card-thomas badge-photo" md-theme='dark-teal' md-theme-watch data-badge="8">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline default-cursor" translate="JUN_LBL">Juin 2017</span>
                                    <span class="md-subhead default-cursor" translate="JUN_MSG">Havaianas</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"> <img src='img/month5.jpg'> </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button translate="BT_ALBM" ng-click="goToMonth('062017')">Voir l'album</md-button>
                            </md-card-actions>
                        </md-card>
                        <!-- JUILLET -->
                        <md-card class="card-thomas badge-photo" md-theme='dark-pink' md-theme-watch data-badge="7">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline default-cursor" translate="JUL_LBL">Juillet 2017</span>
                                    <span class="md-subhead default-cursor" translate="JUL_MSG">Vous trouvez ça drôle?</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"> <img src='img/month6.jpg'> </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button translate="BT_ALBM" ng-click="goToMonth('072017')">Voir l'album</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div layout="column" layout-gt-sm="row" layout-align="space-around center" style="width:100%">
                        <!-- AOÛT -->
                        <md-card class="card-thomas badge-photo" md-theme='dark-indigo' md-theme-watch data-badge="14">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline default-cursor" translate="AOU_LBL">Août 2017</span>
                                    <span class="md-subhead default-cursor" translate="AOU_MSG">Quelle chaleur!</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"> <img src='img/month7.jpg'> </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button translate="BT_ALBM" ng-click="goToMonth('082017')">Voir l'album</md-button>
                            </md-card-actions>
                        </md-card>
                        <!-- SEPTEMBRE -->
                        <md-card class="card-thomas badge-photo" md-theme='dark-cyan' md-theme-watch data-badge="14">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline default-cursor" translate="SEP_LBL">Septembre 2017</span>
                                    <span class="md-subhead default-cursor" translate="SEP_MSG">L'été se termine.</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"> <img src='img/month8.jpg'> </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button translate="BT_ALBM" ng-click="goToMonth('092017')">Voir l'album</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>
                <div layout="column" layout-gt-lg="row" layout-align="center center">
                    <div layout="column" layout-gt-sm="row" layout-align="space-around center" style="width:100%">
                        <!-- OCTOBRE -->
                        <md-card class="card-thomas badge-photo" md-theme='dark-deep-orange' md-theme-watch data-badge="9">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline default-cursor" translate="OCT_LBL">Octobre 2017</span>
                                    <span class="md-subhead default-cursor" translate="OCT_MSG">L'automne arrive</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"> <img src='img/month9.jpg'> </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button translate="BT_ALBM" ng-click="goToMonth('102017')">Voir l'album</md-button>
                            </md-card-actions>
                        </md-card>
                        <!-- NOVEMBRE -->
                        <md-card class="card-thomas badge-photo" md-theme='dark-lime' md-theme-watch data-badge="45">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline default-cursor" translate="NOV_LBL">Novembre 2017</span>
                                    <span class="md-subhead default-cursor" translate="NOV_MSG">Quel froid!</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"><img src='img/month10.jpg'> </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button translate="BT_ALBM" ng-click="goToMonth('112017')">Voir l'album</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>

                <div layout="column" layout-gt-lg="row" layout-align="center center">
                    <div layout="column" layout-gt-sm="row" layout-align="space-around center" style="width:100%">
                        <!-- DECEMBRE -->
                        <md-card class="card-thomas badge-photo" md-theme='dark-bg' md-theme-watch data-badge="37">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline default-cursor" translate="DEC_LBL">Décembre 2017</span>
                                    <span class="md-subhead default-cursor" translate="DEC_MSG">L'année se termine.</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"><img src='img/month11.jpg'> </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button translate="BT_ALBM" ng-click="goToMonth('122017')">Voir l'album</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>

                <hr class="section-separator">
                <span class="container-section default-cursor">
                    <span class="icon-section">&#128249;</span>
                    <h3 id="videos" class="title-section" translate="SC_VIDS">Vidéos</h3>
                </span>
                <br>
				<div layout="column" layout-padding layout-align="center center">
					<span class="info cursor-help">
						<md-icon class="md-primary">info</md-icon>
						<p translate="VID_INF">Pour accélérer le chargement de cette page, les vidéos ne sont affichées qu'à la demande. Cochez la case ci-dessous pour afficher les vidéos.</p>
					</span>
					<br>
					<span>
 						<md-checkbox ng-init="displayVids = false" ng-model="displayVids" aria-label="Afficher les vidéos"></md-checkbox>
						<span class="checklabel-translate cursor-help" translate="VID_CHK">Afficher les 21 vidéos</span>
					</span>
				</div>
				<div ng-if="displayVids">
					<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
						<div class="video-card">
							<h2 class="video-date">12/02/2017</h2>
							<h4 class="video-subtitle" translate="VID_001">À la maternité</h4>
							<iframe src="https://player.vimeo.com/video/223972672?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
						<div class="video-card">
							<h2 class="video-date">09/04/2017</h2>
							<h4 class="video-subtitle" translate="VID_002">Endormi</h4>
							<iframe src="https://player.vimeo.com/video/223972832?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
						<div class="video-card">
							<h2 class="video-date">23/06/2017</h2>
							<h4 class="video-subtitle" translate="VID_003">Son premier instrument</h4>
							<iframe src="https://player.vimeo.com/video/222942268?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</div>
					<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
						<div class="video-card">
							<h2 class="video-date">02/07/2017</h2>
							<h4 class="video-subtitle" translate="VID_004">Après le bain</h4>
							<iframe src="https://player.vimeo.com/video/223972346?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
						<div class="video-card">
							<h2 class="video-date">15/07/2017 (10h38)</h2>
							<h4 class="video-subtitle" translate="VID_005">Le tapis d'éveil</h4>
							<iframe src="https://player.vimeo.com/video/229630204?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
						<div class="video-card">
							<h2 class="video-date">15/07/2017 (15h27)</h2>
							<h4 class="video-subtitle" translate="VID_006">Avec sa chouette</h4>
							<iframe src="https://player.vimeo.com/video/229629452?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</div>
					<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
						<div class="video-card">
							<h2 class="video-date">22/07/2017</h2>
							<h4 class="video-subtitle" translate="VID_007">Sur sa chaise haute</h4>
							<iframe src="https://player.vimeo.com/video/229629144?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
						<div class="video-card">
							<h2 class="video-date">28/07/2017</h2>
							<h4 class="video-subtitle" translate="VID_008">Encore au tambour</h4>
							<iframe src="https://player.vimeo.com/video/230338765?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
						<div class="video-card">
							<h2 class="video-date">21/08/2017</h2>
							<h4 class="video-subtitle" translate="VID_009">Sur la terrasse</h4>
							<iframe src="https://player.vimeo.com/video/230761496?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</div>
					<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">30/08/2017</h2>
								<h4 class="video-subtitle" translate="VID_010">Thomas joue après le repas</h4>
								<iframe src="https://player.vimeo.com/video/231745914?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">03/09/2017</h2>
								<h4 class="video-subtitle" translate="VID_011">Discussion avec papi</h4>
								<iframe src="https://player.vimeo.com/video/232527850?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">16/09/2017</h2>
								<h4 class="video-subtitle" translate="VID_012">Jeu sur la chaise haute</h4>
								<iframe src="https://player.vimeo.com/video/235130849?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">23/09/2017</h2>
								<h4 class="video-subtitle" translate="VID_013">Assis dans le parc</h4>
								<iframe src="https://player.vimeo.com/video/235131550?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">30/09/2017</h2>
								<h4 class="video-subtitle" translate="VID_014">Une nouvelle sensation</h4>
								<iframe src="https://player.vimeo.com/video/236193183?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">07/10/2017</h2>
								<h4 class="video-subtitle" translate="VID_015">J'ai trouvé la serrure</h4>
								<iframe src="https://player.vimeo.com/video/237311175?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">09/10/2017</h2>
								<h4 class="video-subtitle" translate="VID_016">Thomas et l’étude n°5 en si mineur de Fernando Sor</h4>
								<iframe src="https://player.vimeo.com/video/239349897?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">09/10/2017</h2>
								<h4 class="video-subtitle" translate="VID_017">Thomas et le BWV 565 de J.S.Bach</h4>
								<iframe src="https://player.vimeo.com/video/239351227?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">21/10/2017</h2>
								<h4 class="video-subtitle" translate="VID_018">Thomas commence à tenir debout</h4>
								<iframe src="https://player.vimeo.com/video/239351587?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">05/11/2017</h2>
								<h4 class="video-subtitle" translate="VID_019">Thomas et André dans le parc</h4>
								<iframe src="https://player.vimeo.com/video/242387571?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">18/11/2017</h2>
								<h4 class="video-subtitle" translate="VID_020">Thomas se lève et s'assied</h4>
								<iframe src="https://player.vimeo.com/video/243467832?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">16/12/2017</h2>
								<h4 class="video-subtitle" translate="VID_021">Parlotte de Thomas</h4>
								<iframe src="https://player.vimeo.com/video/247634313?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">21/12/2017</h2>
								<h4 class="video-subtitle" translate="VID_022">Thomas veut jouer de la guitare</h4>
								<iframe src="https://player.vimeo.com/video/248362096?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">31/12/2017</h2>
								<h4 class="video-subtitle" translate="VID_023">Dans la cuisine</h4>
								<iframe src="https://player.vimeo.com/video/249225223?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<hr/>
					<h3>2018</h3>
					<hr/>
					<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">07/01/2018</h2>
								<h4 class="video-subtitle" translate="VID_024">Chatouilles</h4>
								<iframe src="https://player.vimeo.com/video/250022814?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">07/01/2018</h2>
								<h4 class="video-subtitle" translate="VID_025">Thomas à quatre pattes</h4>
								<iframe src="https://player.vimeo.com/video/250023009?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
						<div layout="column" layout-gt-md="row" layout-padding layout-align="space-around center">
							<div class="video-card">
								<h2 class="video-date">07/01/2018</h2>
								<h4 class="video-subtitle" translate="VID_026">Thomas discute</h4>
								<iframe src="https://player.vimeo.com/video/250023273?byline=0&portrait=0" width="360" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
                <hr class="section-separator">
                <span class="container-section default-cursor">
                    <span class="icon-section">&#128207;</span>
                    <h3 id="taille" class="title-section" translate="SC_TAIL">Taille</h3>
                </span>
                <div layout="column" layout-align="center center">
                    <div class="width75">
                        <canvas id="chartTaille"></canvas>
                    </div>
                </div>
                <hr class="section-separator">
                <span class="container-section default-cursor">
                    <span class="icon-section">&#127947;</span>
                    <h3 id="poids" class="title-section" translate="SC_POID">Poids</h3>
                </span>
                <div layout="column" layout-align="center center">
                    <div class="width75">
                        <canvas id="chartPoids"></canvas>
                    </div>
                </div>
				<hr class="section-separator">
				<span class="container-section default-cursor">
                    <span class="icon-section">&#128197;</span>
                    <h3 id="date" class="title-section" translate="SC_DATE">Les dates importantes</h3>
                </span>

				<section class="cd-horizontal-timeline" data-spacing="60" time-line ng-show="isFr">
					<div class="timeline">
						<div class="events-wrapper">
							<div class="events">
								<ol>
									<li time-line-li ng-repeat="node in frNodes">
										<a ng-class="{'selected':$index == 0}" href="#0" data-date="{{node.date}}" class="border-after-blue bg-after-blue">{{node.name}}</a>
									</li>
								</ol>

								<span class="filling-line" aria-hidden="true"></span>
							</div>
						</div>
						<ul class="cd-timeline-navigation">
							<li><a href="#0" class="prev inactive">Prev</a></li>
							<li><a href="#0" class="next">Next</a></li>
						</ul>
					</div>
					<div class="events-content">
						<ol>
							<li ng-class="{'selected':$index == 0}" data-date="{{node.date}}" ng-repeat="node in frNodes">
								<h2>{{node.name}}</h2>
								<em>{{node.date}}</em>
								<p>{{node.comment}}</p>
							</li>
						</ol>
					</div>
				</section>

				<section class="cd-horizontal-timeline" data-spacing="60" time-line ng-show="!isFr">
					<div class="timeline">
						<div class="events-wrapper">
							<div class="events">
								<ol>
									<li time-line-li ng-repeat="node in brNodes">
										<a ng-class="{'selected':$index == 0}" href="#0" data-date="{{node.date}}" class="border-after-blue bg-after-blue">{{node.name}}</a>
									</li>
								</ol>

								<span class="filling-line" aria-hidden="true"></span>
							</div>
						</div>
						<ul class="cd-timeline-navigation">
							<li><a href="#0" class="prev inactive">Prev</a></li>
							<li><a href="#0" class="next">Next</a></li>
						</ul>
					</div>
					<div class="events-content">
						<ol>
							<li ng-class="{'selected':$index == 0}" data-date="{{node.date}}" ng-repeat="node in brNodes">
								<h2>{{node.name}}</h2>
								<em>{{node.date}}</em>
								<p>{{node.comment}}</p>
							</li>
						</ol>
					</div>
				</section>

				<hr class="section-separator">
				<span class="container-section default-cursor">
                    <span class="icon-section">&#128140;</span>
                    <h3 id="ecrire" class="title-section" translate="SC_ADRE">M'écrire</h3>
                </span>
                <div layout="column" layout-align="center center" layout-padding>
					<h4 class="cursor-help" translate="TXT_ADR">Vous pouvez m'écrire à l'adresse suivante. Mes parents me donneront le mot de passe lorsque je serai grand et personne ne lira ce courrier avant moi!</h4>
					<a href="mailto:thomasmorassut@gmail.com" translate="LNK_ADR">Cliquer ici pour m'écrire à l'adresse thomasmorassut@gmail.com</a>
                </div>
                <hr class="section-separator">
                <md-whiteframe id="news">
                    <span class="container-section default-cursor">
                        <span class="icon-section">&#128240;</span>
                        <h3 id="videos" class="title-section" translate="SC_HIST">Historique</h3>
                    </span>
                    <br>
                    <ul>
                        <li>26/08/2017 - <span translate="NEWS_260817">V.1.0 du site</span></li>
                        <li>27/08/2017 - <span translate="NEWS_270817">Ajout de deux photos dans l'album d'août.</span></li>
                        <li>28/08/2017 - <span translate="NEWS_280817">Corrections des traductions.</span></li>
                        <li>30/08/2017 - <span translate="NEWS_300817">Ajout d'une vidéo et deux photos dans l'album d'août.</span></li>
                        <li>31/08/2017 - <span translate="NEWS_310817">V.2.0 du site.</span></li>
                        <li>02/09/2017 - <span translate="NEWS_020917">Taille et poids / Album de septembre.</span></li>
                        <li>02/09/2017 - <span translate="NEWS_050917">Ajout d'une vidéo et six photos dans l'album de septembre.</span></li>
                        <li>14/09/2017 - <span translate="NEWS_140917">Une photo de plus en septembre / taille et poids.</span></li>
                        <li>17/09/2017 - <span translate="NEWS_170917">Une photo de plus en septembre / taille et poids corrigés.</span></li>
						<li>23/09/2017 - <span translate="NEWS_230917">Deux vidéos de plus.</span></li>
						<li>30/09/2017 - <span translate="NEWS_300917">Une vidéos de plus / deux photos de plus.</span></li>
						<li>08/10/2017 - <span translate="NEWS_081017">Album d'octobre / une vidéo de plus.</span></li>
						<li>15/10/2017 - <span translate="NEWS_151017">Deux photos de plus.</span></li>
						<li>22/10/2017 - <span translate="NEWS_221017">Trois vidéos de plus.</span></li>
						<li>29/10/2017 - <span translate="NEWS_291017">Deux photos de plus / V.2.1 du site.</span></li>
						<li>01/11/2017 - <span translate="NEWS_011117">Corrections des traductions.</span></li>
						<li>11/11/2017 - <span translate="NEWS_111117">Album de novembre / taille, poids / une vidéo de plus / une date importante de plus.</span></li>
						<li>12/11/2017 - <span translate="NEWS_121117">17 photos dans l'album de novembre.</span></li>
						<li>18/11/2017 - <span translate="NEWS_181117">8 photos et 1 vidéo supplémentaires.</span></li>
						<li>19/11/2017 - <span translate="NEWS_191117">5 photos supplémentaires.</span></li>
						<li>25/11/2017 - <span translate="NEWS_251117">7 photos supplémentaires.</span></li>
						<li>26/11/2017 - <span translate="NEWS_261117">8 photos supplémentaires.</span></li>
						<li>09/12/2017 - <span translate="NEWS_091217">Album de decembre.</span></li>
						<li>16/12/2017 - <span translate="NEWS_161217">7 photos et 1 vidéo supplémentaires.</span></li>
						<li>21/12/2017 - <span translate="NEWS_211217">1 vidéo supplémentaire.</span></li>
						<li>31/12/2017 - <span translate="NEWS_311217">18 photos et 1 vidéo supplémentaires.</span></li>
						<li>07/01/2018 - <span translate="NEWS_070118">3 vidéos supplémentaires.</span><md-icon class="md-accent">fiber_new</md-icon></li>
                    </ul>
                </md-whiteframe>
                <md-sidenav id="nav" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
                    <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools" translate="NAV_LBL">Sections</h1>
                    </md-toolbar>
                    <md-content layout-padding layout="column">
                        <md-button class="md-primary" ng-href="#photos" translate="SC_ALBM" md-autofocus ng-click="hideMenu()">Photos</md-button>
                        <md-button class="md-primary" ng-href="#videos" translate="SC_VIDS" ng-click="hideMenu()">Vidéos</md-button>
                        <md-button class="md-primary" ng-href="#taille" translate="SC_TAIL" ng-click="hideMenu()">Taille</md-button>
                        <md-button class="md-primary" ng-href="#poids" translate="SC_POID" ng-click="hideMenu()">Poids</md-button>
						<md-button class="md-primary" ng-href="#date" translate="SC_DATE" ng-click="hideMenu()">Dates importantes</md-button>
						<md-button class="md-primary" ng-href="#ecrire" translate="SC_ADRE" ng-click="hideMenu()">M'écrire</md-button>
                        <md-button class="md-primary" ng-href="#news" translate="SC_HIST" ng-click="hideMenu()">Historique</md-button>
                    </md-content>
                </md-sidenav>
            </md-content>
        </div>
    </div>
	<script src="js/jquery-2.1.4.js"></script>
	<script src="js/jquery.mobile.custom.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/angular-translate.min.js"></script>
    <script src="js/Chart.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/modernizr.js"></script>
    <script type="text/javascript">
        angular.module('ThomasApp', ['ngMaterial', 'pascalprecht.translate']).controller('AppCtrl', function ($scope, $translate, $mdSidenav, $rootScope) {


			$scope.frNodes = [
			{
				name: "Première dent",
				date: "20/08/2017",
				comment: "Pour l'anniversaire de mon père, je lui offre une dent."
			},
			{
				name: "Seconde dent",
				date: "03/09/2017",
				comment: "La seconde avait l'air d'arriver mais elle a tardé."
			},
			{
				name: "Assis tout seul",
				date: "15/09/2017",
				comment: "Ça y est, j'ai réussi à m'assoir tout seul. Bien évidemment, je me suis cogné plusieurs fois la tête mais j'ai rapidement appris à me méfier du sol."
			},
			{
				name: "Troisième dent",
				date: "09/10/2017",
				comment: "Généralement, la troisième dent est une de dessus. Mais, pour faire original, j'ai maintenant trois dents en bas."
			},
			{
				name: "Quatre pattes",
				date: "15/10/2017",
				comment: "Cela faisait quelques semaines que je rampait. À partir de cette date, je me déplace comme une petite fusée dans mon parc, je maîtrise parfaitement la marche à quatre pattes."
			},
			{
				name: "Essais debout",
				date: "21/10/2017",
				comment: "Si on m'aide, je me tiens aux barreaux de mon parc et je tiens debout!"
			},
			{
				name: "Quignon de pain",
				date: "29/10/2017",
				comment: "Voilà, si l'on me donne un quignon de pain, je me débrouille pour le mâchonner."
			},
			{
				name: "Debout tout seul",
				date: "10/11/2017",
				comment: "Je me suis mis debout tout seul! Mes parents m\'ont pris en photo, elle est dans l\'album de Novembre."
			},
			{
				name: "Quatrième dent",
				date: "16/11/2017",
				comment: "Et de quatre!"
			}];

			$scope.brNodes = [
			{
				name: "Primeiro dente",
				date: "20/08/2017",
				comment: "No aniversário do meu pai, lhe dei um dentinho de presente."
			},
			{
				name: "Secundo dente",
				date: "03/09/2017",
				comment: "O segundo parecia que ia sair, mas atrasou."
			},
			{
				name: "Sentado sozinho",
				date: "15/09/2017",
				comment: "Enfim, consegui me sentar sozinho. É claro que dei muitas cabeçadas, mas logo passei a ter cuidado com o chão."
			},
			{
				name: "Terceiro dente",
				date: "09/10/2017",
				comment: "O terceiro dente, em geral sai na parte superior, mas para me destacar, agora tenho três dentinhos na parte inferior."
			},
			{
				name: "Engatinhando",
				date: "15/10/2017",
				comment: "Já fazia algumas semanas que eu me arrastava, a partir dessa data, sou um pequeno foguete no meu cercado, engatinho perfeitamente."
			},
			{
				name: "Em pé",
				date: "21/10/2017",
				comment: "Se me ajudarem à me levantar, eu seguro nas barras do meu cercado e fico em pé."
			},
			{
				name: "Bico do pão",
				date: "29/10/2017",
				comment: "Pois é, se me derem um bico de pão, eu dou um jeitinho para mastigá-lo."
			},
			{
				name: "Em pé sozinho",
				date: "10/11/2017",
				comment: "Me levantei sozinho! Meus pais tiraram uma foto de mim, ela está no álbum de novembro."
			},
			{
				name: "Quarto dente",
				date: "16/11/2017",
				comment: "Chegou o quarto!"
			}];
			$scope.isFr = true;
			$rootScope.$on('$translateChangeSuccess', function () {
				$scope.isFr = ($translate.proposedLanguage() === 'fr');
			});


            function initCharts() {
                window.chartColors = {
                    red: 'rgb(255, 99, 132)',
                    orange: 'rgb(255, 159, 64)',
                    yellow: 'rgb(255, 205, 86)',
                    green: 'rgb(75, 192, 192)',
                    blue: 'rgb(54, 162, 235)',
                    blueAlpha: 'rgba(54, 162, 235, 0.15)',
                    purple: 'rgb(153, 102, 255)',
                    purpleAlpha: 'rgba(153, 102, 255, 0.15)',
                    grey: 'rgb(201, 203, 207)'
                };
                var configPoids = {
                    type: 'line',
                    data: {
                        labels: ["0", "1", "2", "3", "5", "6", "7", "9", "12", "15", "18", "21", "24"],
                        datasets: [
                            {
                                label: "Thomas",
                                backgroundColor: window.chartColors.red,
                                borderColor: window.chartColors.red,
                                data: [5.12, 5.9, 6.55, 7.4, 8.8, 9.8, 10.58, 11.65],
                                fill: false
                            }, {
                                label: "97%",
                                fill: false,
                                backgroundColor: window.chartColors.purpleAlpha,
                                borderColor: window.chartColors.purple,
                                borderWidth: 2,
                                pointStyle: "line",
                                fill: "+1",
                                data: [4.2, 5.05, 6, 6.9, 8.45, 9.1, 9.75, 10.7, 11.8, 12.75, 13.45, 14.1, 14.7]
                            }, {
                                label: "75%",
                                fill: false,
                                backgroundColor: window.chartColors.blueAlpha,
                                borderColor: window.chartColors.blue,
                                borderDash: [8, 8],
                                borderWidth: 2,
                                pointStyle: "line",
                                data: [3.8, 4.4, 5.2, 6, 7.4, 8, 8.6, 9.4, 10.4, 11.15, 11.9, 12.45, 13]
                            }, {
                                label: "25%",
                                fill: false,
                                backgroundColor: window.chartColors.blueAlpha,
                                borderColor: window.chartColors.blue,
                                borderDash: [8, 8],
                                borderWidth: 2,
                                pointStyle: "line",
                                fill: "-1",
                                data: [3, 3.6, 4.2, 5, 6, 6.6, 7, 7.8, 8.6, 9.1, 9.6, 10.1, 10.6]
                            }, {
                                label: "3%",
                                fill: false,
                                backgroundColor: window.chartColors.purpleAlpha,
                                borderColor: window.chartColors.purple,
                                borderWidth: 2,
                                pointStyle: "line",
                                fill: "-1",
                                data: [2.4, 2.9, 3.5, 4.1, 5.1, 5.55, 5.95, 6.6, 7.4, 7.95, 8.5, 8.95, 9.4]
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'bottom',
                        },
                        title:{
                            display:false
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                            callbacks: {
                                title: function(tooltipItem, chart) {
                                    return tooltipItem[0].xLabel + ' mois / mês';
                                },
                                afterLabel: function(tooltipItem, chart) {
                                    if (tooltipItem.datasetIndex === 0) {
                                        return ' ';
                                    }
                                },
                                label: function(tooltipItem, chart) {
                                    if (tooltipItem.datasetIndex === 0) {
                                        return 'THOMAS: ' + tooltipItem.yLabel + ' Kg';
                                    } else if (tooltipItem.datasetIndex === 1) {
                                        return '+2σ: ' + tooltipItem.yLabel + ' Kg';
                                    } else if (tooltipItem.datasetIndex === 2) {
                                        return '+1σ: ' + tooltipItem.yLabel + ' Kg';
                                    } else if (tooltipItem.datasetIndex === 3) {
                                        return '-1σ: ' + tooltipItem.yLabel + ' Kg';
                                    } else if (tooltipItem.datasetIndex === 4) {
                                        return '-2σ: ' + tooltipItem.yLabel + ' Kg';
                                    }
                                }
                            }
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Mois / Meses'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Kilogrammes / Quilogramas'
                                }
                            }]
                        }
                    }
                };
                var configTaille = {
                    type: 'line',
                    data: {
                        labels: ["0", "1", "3", "5", "6", "7", "9", "12", "15", "18", "21", "24"],
                        datasets: [
                            {
                                label: "Thomas",
                                backgroundColor: window.chartColors.red,
                                borderColor: window.chartColors.red,
                                data: [57, 60, 66.5, 72, 74, 77, 79.5],
                                fill: false
                            }, {
                                label: "+2σ",
                                fill: false,
                                backgroundColor: window.chartColors.purpleAlpha,
                                borderColor: window.chartColors.purple,
                                borderWidth: 2,
                                pointStyle: "line",
                                fill: "+1",
                                data: [54, 57, 64, 69, 71, 73, 75.5, 79, 83, 86, 89, 91.5]
                            }, {
                                label: "+1σ",
                                fill: false,
                                backgroundColor: window.chartColors.blueAlpha,
                                borderColor: window.chartColors.blue,
                                borderDash: [8, 8],
                                borderWidth: 2,
                                pointStyle: "line",
                                data: [52, 55, 62, 67, 69, 70.5, 73, 77, 80, 83, 86, 88.5]
                            }, {
                                label: "-1σ",
                                fill: false,
                                backgroundColor: window.chartColors.blueAlpha,
                                borderColor: window.chartColors.blue,
                                borderDash: [8, 8],
                                borderWidth: 2,
                                pointStyle: "line",
                                fill: "-1",
                                data: [48, 50.5, 56.5, 61, 62.5, 64, 67, 70, 73, 76, 79, 81.5]
                            }, {
                                label: "-2σ",
                                fill: false,
                                backgroundColor: window.chartColors.purpleAlpha,
                                borderColor: window.chartColors.purple,
                                borderWidth: 2,
                                pointStyle: "line",
                                fill: "-1",
                                data: [46, 49, 54.5, 58.5, 60.5, 62, 64.5, 67.5, 70.5, 73, 75.5, 78]
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'bottom',
                        },
                        title:{
                            display:false
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                            callbacks: {
                                title: function(tooltipItem, chart) {
                                    return tooltipItem[0].xLabel + ' mois / mês';
                                },
                                afterLabel: function(tooltipItem, chart) {
                                    if (tooltipItem.datasetIndex === 0) {
                                        return ' ';
                                    }
                                },
                                label: function(tooltipItem, chart) {
                                    if (tooltipItem.datasetIndex === 0) {
                                        return 'THOMAS: ' + tooltipItem.yLabel + ' cm';
                                    } else if (tooltipItem.datasetIndex === 1) {
                                        return '+2σ: ' + tooltipItem.yLabel + ' cm';
                                    } else if (tooltipItem.datasetIndex === 2) {
                                        return '+1σ: ' + tooltipItem.yLabel + ' cm';
                                    } else if (tooltipItem.datasetIndex === 3) {
                                        return '-1σ: ' + tooltipItem.yLabel + ' cm';
                                    } else if (tooltipItem.datasetIndex === 4) {
                                        return '-2σ: ' + tooltipItem.yLabel + ' cm';
                                    }
                                }
                            }
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Mois / Meses'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Centimètres / Centímetros'
                                }
                            }]
                        }
                    }
                };

                window.onload = function() {
                    var ctxTaille = document.getElementById("chartTaille").getContext("2d");
                    var ctxPoids = document.getElementById("chartPoids").getContext("2d");
                    window.chartTailleObj = new Chart(ctxTaille, configTaille);
                    window.chartPoidsObj = new Chart(ctxPoids, configPoids);
                };
            }

            $scope.isUnlockedValue = false;
            $scope.lockinput = '';
            $scope.validateLockInput = function(arg) {
                if (arg === true) {
                    $scope.lockform.$setUntouched();
                }
                $scope.isUnlockedValue = (btoa($scope.lockinput) === 'dGhvbWFz');
                $scope.lockinput = '';
            };
            $scope.changeLanguage = function (key) {
                $translate.use(key);
            };
            $scope.showMenu = function() {
                $mdSidenav('left').toggle();
            }
            $scope.hideMenu = function() {
                $mdSidenav('left').close();
            }

            var ALBUMS_URL = {
                '022017':'https://goo.gl/photos/6AY5pf8UdxAbQMZm7',
                '032017':'https://goo.gl/photos/1ekFU4RQPzbbTE9p6',
                '042017':'https://goo.gl/photos/urmCW8cEkG1z2Uq48',
                '052017':'https://goo.gl/photos/9AXBJVvToV4J7BQc8',
                '062017':'https://goo.gl/photos/MQrNZmATdZuKGkTA8',
                '072017':'https://goo.gl/photos/yggovBHW5JAatnfi9',
                '082017':'https://goo.gl/photos/8PCzK6sm1g3jjEuY9',
                '092017':'https://goo.gl/photos/kJTX1mboDj1Wq1eP8',
				'102017':'https://photos.app.goo.gl/eeiWQYX3lJi4HKu53',
				'112017':'https://photos.app.goo.gl/SGsjEvrTKI1bRcIk2',
				'122017':'https://photos.app.goo.gl/yppaiguiYnk6oCgH3'
            };

            $scope.goToMonth = function (monthKey) {
                if (angular.isDefined(ALBUMS_URL[monthKey])) {
                    window.open(ALBUMS_URL[monthKey], '_blank');
                }
            };
            initCharts();
        }).config(function ($mdThemingProvider) {
            // lock
            $mdThemingProvider.theme('dark-yellow', 'default').primaryPalette('cyan').dark();
            // cards
            $mdThemingProvider.theme('dark-grey').backgroundPalette('grey').dark();
            $mdThemingProvider.theme('dark-orange').backgroundPalette('orange').dark();
            $mdThemingProvider.theme('dark-purple').backgroundPalette('deep-purple').dark();
            $mdThemingProvider.theme('dark-blue').backgroundPalette('blue').dark();
            $mdThemingProvider.theme('dark-teal').backgroundPalette('teal').dark();
            $mdThemingProvider.theme('dark-pink').backgroundPalette('pink').dark();
            $mdThemingProvider.theme('dark-indigo').backgroundPalette('indigo').dark();
            $mdThemingProvider.theme('dark-bg').backgroundPalette('blue-grey').dark();
            $mdThemingProvider.theme('dark-cyan').backgroundPalette('cyan').dark();
			$mdThemingProvider.theme('dark-deep-orange').backgroundPalette('deep-orange').dark();
			$mdThemingProvider.theme('dark-lime').backgroundPalette('lime').dark();
        }).config(function ($translateProvider) {
            $translateProvider.translations('fr', {
                NAV_LBL: 'Sections',
                IPT_PWD: 'Mot de passe',
                BTN_PWD: 'Valider',
                SC_ALBM: 'Albums photos',
                SC_VIDS: 'Vidéos',
                SC_HIST: 'Historique',
                SC_TAIL: 'Taille',
                SC_POID: 'Poids',
				SC_DATE: 'Dates importantes',
				SC_ADRE: 'M\'écrire',
				TXT_ADR: 'Vous pouvez m\'écrire à l\'adresse ci-dessous. Mes parents me donneront le mot de passe lorsque je serai grand; personne ne lira ce courrier avant moi!',
				LNK_ADR: 'Cliquer ici pour m\'écrire à l\'adresse thomasmorassut@gmail.com',
                BT_ALBM: 'Voir l\'album',
                FEV_LBL: 'Février 2017',
                FEV_MSG: 'La grande arrivée',
                MAR_LBL: 'Mars 2017',
                MAR_MSG: 'Premières sorties',
                AVR_LBL: 'Avril 2017',
                AVR_MSG: 'À Pompertuzat',
                MAI_LBL: 'Mai 2017',
                MAI_MSG: 'Marre du lait!',
                JUN_LBL: 'Juin 2017',
                JUN_MSG: 'Havaianas',
                JUL_LBL: 'Juillet 2017',
                JUL_MSG: 'Vous trouvez ça drôle?',
                AOU_LBL: 'Août 2017',
                AOU_MSG: 'Quelle chaleur!',
                SEP_LBL: 'Septembre 2017',
                SEP_MSG: 'L\'été se termine.',
                OCT_LBL: 'Octobre 2017',
                OCT_MSG: 'L\'automne arrive',
				NOV_LBL: 'Novembre 2017',
                NOV_MSG: 'Quel froid!',
                DEC_LBL: 'Décembre 2017',
                DEC_MSG: 'L\'année se termine.',
				VID_CHK: 'Afficher les 26 vidéos',
				VID_INF: 'Pour accélérer le chargement de cette page, les vidéos ne sont affichées qu\'à la demande. Cochez la case ci-dessous pour afficher les vidéos.',
                VID_001: 'À la maternité',
                VID_002: 'Endormi',
                VID_003: 'Son premier instrument',
                VID_004: 'Après le bain',
                VID_005: 'Le tapis d\'éveil',
                VID_006: 'Avec sa chouette',
                VID_007: 'Sur sa chaise haute',
                VID_008: 'Encore au tambour',
                VID_009: 'Sur la terrasse',
                VID_010: 'Après le repas',
                VID_011: 'Discussion avec papi',
				VID_012: 'Jeu sur la chaise haute',
				VID_013: 'Assis dans le parc',
				VID_014: 'Une nouvelle sensation',
				VID_015: 'Le fugitif',
				VID_016: 'Thomas écoute l\’étude n°5 en si mineur de Fernando Sor',
				VID_017: 'Thomas écoute le BWV 565 de J.S.Bach',
				VID_018: 'Thomas commence à tenir debout',
				VID_019: 'Thomas et André',
				VID_020: 'Thomas se lève et s\'assied',
				VID_021: 'Longue parlotte de Thomas',
				VID_022: 'Thomas veut jouer de la guitare',
				VID_023: 'Dans la cuisine',
				VID_024: 'Chatouilles',
				VID_025: 'Thomas à quatre pattes',
				VID_026: 'Thomas discute',
                NEWS_260817: 'V.1.0 du site',
                NEWS_270817: 'Ajout de deux photos dans l\'album d\'août',
                NEWS_280817: 'Correction de traductions.',
                NEWS_300817: 'Ajout d\'une vidéo et deux photos dans l\'album d\'août.',
                NEWS_310817: 'V.2.0 du site',
                NEWS_020917: 'Taille et poids / premières photos de septembre',
                NEWS_050917: 'Ajout d\'une vidéo et six photos dans l\'album de septembre.',
                NEWS_140917: 'Une photo de plus en septembre / taille et poids.',
                NEWS_170917: 'Une photo de plus en septembre / taille et poids corrigés.',
				NEWS_230917: 'Deux vidéos supplémentaires.',
				NEWS_300917: 'Une vidéo supplémentaire / deux photos dans l\'album de septembre / adresse mail.',
				NEWS_081017: 'Une vidéo supplémentaire / album d\'octobre.',
				NEWS_151017: 'Deux photos supplémentaires dans l\'album d\'octobre.',
				NEWS_221017: 'Trois vidéos supplémentaires',
				NEWS_291017: 'Deux photos supplémentaires / V.2.1 du site',
				NEWS_011117: 'Correction de traductions.',
				NEWS_111117: 'Album de novembre / taille, poids / une vidéo de plus / une date importante de plus.',
				NEWS_121117: '17 photos dans l\'album de novembre.',
				NEWS_181117: '8 photos et 1 vidéo supplémentaires.',
				NEWS_191117: '5 photos supplémentaires / une date importante de plus.',
				NEWS_251117: '7 photos supplémentaires.',
				NEWS_261117: '8 photos supplémentaires.',
				NEWS_091217: 'Album de décembre.',
				NEWS_161217: '7 photos et 1 vidéo supplémentaires.',
				NEWS_211217: '1 vidéo supplémentaire.',
				NEWS_311217: '18 photos et 1 vidéo supplémentaires.',
				NEWS_070118: '3 vidéos supplémentaires.'
            });
            $translateProvider.translations('br', {
                NAV_LBL: 'Seções',
                IPT_PWD: 'Senha',
                BTN_PWD: 'Iniciar Sessão',
                SC_ALBM: 'Fotos',
                SC_VIDS: 'Videos',
                SC_HIST: 'Notícias',
                SC_TAIL: 'Altura',
                SC_POID: 'Peso',
				SC_DATE: 'Datas importantes',
				SC_ADRE: 'Escreva me',
				TXT_ADR: 'Você pode me escrever no endereço abaixo. Meus pais me darão a senha quando eu crescer; ninguém vai ler esses e-mails antes de mim!',
				LNK_ADR: 'Clique aqui para me enviar uma mensagem no endereço thomasmorassut@gmail.com',
                BT_ALBM: 'Veja as fotos',
                FEV_LBL: 'Fevereiro 2017',
                FEV_MSG: 'Enfim cheguei!',
                MAR_LBL: 'Março 2017',
                MAR_MSG: 'Primeiros passeios',
                AVR_LBL: 'Abril 2017',
                AVR_MSG: 'Em Pompertuzat',
                MAI_LBL: 'Maio 2017',
                MAI_MSG: 'Enjoei do leite!',
                JUN_LBL: 'Junho 2017',
                JUN_MSG: 'Havaianas',
                JUL_LBL: 'Julho 2017',
                JUL_MSG: 'Está rindo de quê?',
                AOU_LBL: 'Agosto 2017',
                AOU_MSG: 'Que calor!',
                SEP_LBL: 'Setembro 2017',
                SEP_MSG: 'Fim do verão',
                OCT_LBL: 'Outubro 2017',
                OCT_MSG: 'Outono está chegando',
                NOV_LBL: 'Novembro 2017',
                NOV_MSG: 'Que frio!',
                DEC_LBL: 'Dezembro 2017',
                DEC_MSG: 'Fim do ano.',
				VID_CHK: 'Mostrar os 26 vídeos',
				VID_INF: 'Para acelerar o carregamento desta página, os vídeos são exibidos somente sob demanda. Marque a caixa abaixo para ver os vídeos.',
                VID_001: 'Na maternidade',
                VID_002: 'O gigante adormecido',
                VID_003: 'Seu primeiro instrumento',
                VID_004: 'Depois do banho',
                VID_005: 'Tapete de atividades',
                VID_006: 'Com sua coruja',
                VID_007: 'Na cadeira alta',
                VID_008: 'Tocando pandeiro',
                VID_009: 'No terraço',
                VID_010: 'Depois do almoço',
                VID_011: 'Bate papo com o vovô',
				VID_012: 'Brincando na cadeira alta',
				VID_013: 'Sentado no tapete de atividades',
				VID_014: 'Uma novidade!',
				VID_015: 'O Fugitivo',
				VID_016: 'Thomas escuta o estudo n°5 en si menor de Fernando Sor',
				VID_017: 'Thomas escuta o BWV 565 de J.S.Bach',
				VID_018: 'Thomas começa a andar',
				VID_019: 'Thomas e André',
				VID_020: 'Thomas levanta e senta',
				VID_021: 'Um longo discurso de Thomas',
				VID_022: 'Thomas quer tocar violão',
				VID_023: 'Na cozinha',
				VID_024: 'Cosquinhas',
				VID_025: 'Engatinhando',
				VID_026: 'Thomas fala',
                NEWS_260817: 'V.1.0 do site',
                NEWS_270817: 'Mais duas fotos no álbum de agosto.',
                NEWS_280817: 'Correçãos tipográficas.',
                NEWS_300817: 'Mais uma video, mais duas fotos no álbum de agosto.',
                NEWS_310817: 'V.2.0 do site',
                NEWS_020917: 'Altura, peso / primeiras fotos de setembro',
                NEWS_050917: 'Mais uma video, mais seis fotos no álbum de setembro.',
                NEWS_140917: 'Mais uma fotos no álbum de setembro / altura, peso / correçãos tipográficas.',
                NEWS_170917: 'Mais uma fotos no álbum de setembro / correçãos de altura e peso .',
				NEWS_230917: 'Mais duas videos.',
				NEWS_300917: 'Mais uma video, mais duas fotos no álbum de setembro / endereço email.',
				NEWS_081017: 'Mais uma video / álbum de outubro',
				NEWS_151017: 'Mais duas fotos no álbum de outubro',
				NEWS_221017: 'Mais três videos',
				NEWS_291017: 'Mais duas fotos / V.2.1 do site',
				NEWS_011117: 'Correçãos tipográficas.',
				NEWS_111117: 'Álbum de novembro / altura, peso / mais uma video / mais uma data importante.',
				NEWS_121117: '17 fotos no álbum de novembro.',
				NEWS_181117: 'Mais 8 fotos e 1 video.',
				NEWS_191117: 'Mais 5 fotos / mais uma data importante.',
				NEWS_251117: 'Mais 7 fotos.',
				NEWS_261117: 'Mais 8 fotos.',
				NEWS_091217: 'Álbum de dezembro.',
				NEWS_161217: 'Mais 7 fotos e 1 video.',
				NEWS_211217: 'Mais 1 video.',
				NEWS_311217: 'Mais 18 fotos e 1 video.',
				NEWS_070118: 'Mais 3 videos.'
            });
            $translateProvider.useSanitizeValueStrategy('escape');
            $translateProvider.preferredLanguage('fr');
        })
    .directive('timeLine', function ($timeout) {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                //angular.element(element).css('border', '5px solid red');
                scope.$on('LastElem', function (event) {
                    var timelines = element;
                    eventsMinDistance = timelines.data('spacing');
                    var timeline = timelines, timelineComponents = {};
                    //cache timeline components
                    timelineComponents['timelineWrapper'] = timeline.find('.events-wrapper');
                    timelineComponents['eventsWrapper'] = timelineComponents['timelineWrapper'].children('.events');
                    timelineComponents['fillingLine'] = timelineComponents['eventsWrapper'].children('.filling-line');
                    timelineComponents['timelineEvents'] = timelineComponents['eventsWrapper'].find('a');
                    timelineComponents['timelineDates'] = parseDate(timelineComponents['timelineEvents']);
                    timelineComponents['eventsMinLapse'] = minLapse(timelineComponents['timelineDates']);
                    timelineComponents['timelineNavigation'] = timeline.find('.cd-timeline-navigation');
                    timelineComponents['eventsContent'] = timeline.children('.events-content');
                    //assign a left postion to the single events along the timeline
                    setDatePosition(timelineComponents, eventsMinDistance);
                    //assign a width to the timeline
                    var timelineTotWidth = setTimelineWidth(timelineComponents, eventsMinDistance);
                    //the timeline has been initialize - show it
                    timeline.addClass('loaded');
                    //detect click on the next arrow
                    timelineComponents['timelineNavigation'].on('click', '.next', function (event) {
                        event.preventDefault();
                        updateSlide(timelineComponents, timelineTotWidth, 'next');
                    });
                    //detect click on the prev arrow
                    timelineComponents['timelineNavigation'].on('click', '.prev', function (event) {
                        event.preventDefault();
                        updateSlide(timelineComponents, timelineTotWidth, 'prev');
                    });
                    //detect click on the a single event - show new event content
                    timelineComponents['eventsWrapper'].on('click', 'a', function (event) {
                        event.preventDefault();
                        timelineComponents['timelineEvents'].removeClass('selected');
                        $(this).addClass('selected');
                        updateOlderEvents($(this));
                        updateFilling($(this), timelineComponents['fillingLine'], timelineTotWidth);
                        updateVisibleContent($(this), timelineComponents['eventsContent']);
                    });
                });
            }
        }
    })
    .directive('timeLineLi', function ($timeout) {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                console.dir(scope);
                if (scope.$last) {
                    $timeout(function () {
                        scope.$emit('LastElem');
                    });
                }
            }
        }
    });
    </script>
</body>
</html>
